<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
</head>
<body>
    <div class="container">
        <h1><%=item.name %></h1>
        <h5>Date: <%=item.date %></h5> 
        <h5>Name: <%=item.name %></h5>
        <h5>From: <%=item.from %></h5> 
        <h5>Amount: <%=item.amount %></h5>
        <h5>Tags: <%=item.tags %></h5> 
        
        <a href="/budget"><button>Return to Budget ALL</button></a>
    </div>
</body>
</html>